<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat room</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.1.2/client-dist/socket.io.min.js"></script>
    <div id="app">
      <div class="bar">
        <input type="text" v-model="username" placeholder="请输入你的名字" />
        <button @click="onSetName">确认</button>
      </div>
      <div class="user-list">
        Users:
        <div class="user" v-for="user in users">
          {{user.username}}:{{user.userID}}
        </div>
      </div>
    </div>
    <script>
      const socket = io({ autoConnect: false });
      socket.onAny((event, ...args) => {
        console.log(event, args);
      });
      var app = new Vue({
        el: "#app",
        data: {
          list: ["你好！"],
          username: "",
          users: [],
        },
        mounted() {
          socket.on("chat message", (msg) => {
            this.list.push(msg);
          });
          socket.on("users", (msg) => {
            this.users = msg;
          });
        },
        methods: {
          onSetName: function () {
            socket.auth = { username: this.username };
            socket.connect();
          },
        },
      });
    </script>
    <style>
      .bar {
        display: flex;
      }
      .bar input {
        flex: 1;
      }
    </style>
  </body>
</html>
